<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Cadastro de Clientes</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="clientes">Clientes</a>

        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="fornecedor">Fornecedor</a>



      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <app-fornecedor></app-fornecedor>
</div>
